@use '../variables';

.infos-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--text-primary-color);

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: var(--bg-primary-color);

            b {
                font-size: 18px;
                color: var(--bg-primary-color);
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}