* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    text-transform: uppercase;
    font-style: italic;
    color: #FFFFFF;
    background-color: #5F27CD;
    border-bottom: 16px solid #341f97;
}

header button {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

header .logo {
    height: 40px;
    margin-right: 8px;
}

header button img {
    height: 18px;
    margin-right: 8px;
}

form {
    background-color: #C8D6E5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
}

#botao-cancelar {
    background-color: #C6130A;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

ul li {
    max-width: 25%;
    min-height: 280px;
    list-style: none;
    position: relative;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
    height: 100%;
}

.overlay-imagem-link {
    width: 100%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all ease .8s;
}

.overlay-imagem-link a {
    color: #FFFFFF;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}