@use 'variables';

.event {
    padding: 80px 0;

    &--frontend {
        background-image: var(--linear-gradient-01);
    }

    &--ux-ui {
        background-image: var(--linear-gradient-02);
    }

    &--data-science {
        background-image: var(--linear-gradient-03);
    }

    &--backend {
        background-image: var(--linear-gradient-04);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        max-width: 360px;
    }

    &__details {

        &__title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }
        
        &__image {
            width: 100%;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}