:root {
    --bg-primary-color: #000;
    --text-primary-color: #FFF;
    --btn-primary-color: #4F24C3;

    /* --------------- Linear Gradient ------------------------*/
    --linear-gradient-01: linear-gradient(#1B6CA7, #442BDB);
    --linear-gradient-02: linear-gradient(#442BDB, #89223B);
    --linear-gradient-03: linear-gradient(#89223B, #9C791D);
    --linear-gradient-04: linear-gradient(#9C791D, #89223B);
}