@use 'hero';
@use 'event';
@use 'variables';
@use 'components/infos_bar';
@use 'components/buttons';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: var(--text-primary-color);
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}