.available-devices{
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;

        @media(max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            text-align: center;

            h4 {
                margin-block: 1.25rem 1.5rem;
            }

            li {
                list-style: none;
            }

            img {
                max-width: 100%;
            }
        }
    }
}