@use 'configs/variables';

.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    &__questions {

        &__item {
            background-color: variables.$bg-second-color;
            margin-bottom: 1rem;

            &__question {
                color: variables.$text-second-color;
                font-size: 1.25rem;
                padding: 1.5rem;
                display: block;
                cursor: pointer;
                position: relative;

                @media(max-width: 768px) {
                    font-size: 1rem;
                }

                &::after{
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 1.5rem;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 2.5rem;

                    @media(max-width: 768px) {
                        font-size: 1.5rem;
                    }
                }
            }

            &__resposta {
                height: 0;
                overflow: hidden;
                padding: 0 1.5rem;
                transition: height, .5s ease;

                ul {
                    margin-block: 1rem;
                    padding-left: 2.5rem;

                    li {
                        margin-top: 1rem;
                        list-style: disc;
                    }
                }
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-';
                }

                .faq__questions__item__resposta {
                    height: auto;
                    padding-bottom: 1.5rem;
                    transition: height, .5s ease;
                }
            }
        }
    }
}