@use 'configs/variables';

.footer {
    padding: 1.625rem .5rem;

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 1.25rem;

        @media(max-width: 768px) {
            width: 90%;
        }
    }

    &__logo {
        width: 80px;
        margin: 0 auto .625rem;
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        &__item {
            display: inline-block;

            a {
                text-decoration: none;
                padding: .5rem 1rem;
                display: block;

                &:hover {
                    color: variables.$text-second-color;
                }
            }
        }
    }

    p {
        margin-bottom: 1rem;
    }
}

.language-selector {
    display: flex;
    align-items: center;

    img {
        width: 18px;
        height: 18px;
    }

    select {
        background-color: transparent;
        border: none;
        color: variables.$text-primary-color;

        &:hover {
            color: variables.$text-second-color;
        }

        option {
            color: variables.$bg-primary-color;
        }
    }
}