@use 'configs/variables.scss';

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: variables.$bg-primary-color;
    transition: background-color .5s ease;

    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease;

        .header{
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease;
            }
        }
        
    }

    &__container {
        padding: .5rem 2.25rem;
        display: flex;
        justify-content: space-between;

        @media(max-width: 768px) {
            padding: 0 .75rem 0 1.25rem;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;

        @media(max-width: 768px) {
            max-width: 64px;
        }
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
            list-style: none;
            transition: opacity .5s ease;
        }
    }

    .button {
        height: 50px;

        @media(max-width: 768px) {
            font-size: .8125rem;
            padding: .5rem .6875rem;
            height: 40px;
            letter-spacing: 0;
        }
    }
}