.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 3.75rem;

        @media(max-width: 768px) {
            display: block;
            margin-top: 0;
        }

        .button {
            margin-bottom: 1.5rem;
        }
        
        &__item {
            text-align: center;
            padding: 3.75rem 2.75rem 2.75rem;
            max-width: 380px;
            width: 100%;

            @media(max-width: 768px) {
                padding: 2.75rem;

                .button {
                    margin-top: 1.5rem;
                }
            }

            &:nth-child(2) {
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            img {
                height: 83px;

                @media(max-width: 768px) {
                    margin: 0 auto;
                    max-width: 100%;
                }                
            }

            strong {
                display: block;
                margin-top: 1.5rem;
            }
        }
    }

    p {
        text-align: center;
    }
}