@use 'configs/variables.scss';
@use 'configs/mixins.scss';
@use 'configs/fonts.scss';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body {
    background-color: variables.$bg-primary-color;
}

.text--big {
    @include mixins.text(1.125rem); //18px
    
    @media(max-width: 768px) {
        @include mixins.text(.9375rem); //15px
    }
}

.text {
    @include mixins.text; //16px

    @media(max-width: 768px) {
        @include mixins.text(.875rem); //14px
    }
}

.text--small {
    @include mixins.text(.75rem); // 12px

    @media(max-width: 768px) {
        @include mixins.text(.6875rem); //11px
    }
}

.link-text {
    @include mixins.text(1.125rem);
    color: variables.$text-second-color;
    text-decoration: underline;
}

.title--big {
    @include mixins.title(2.75rem); //44px

    @media(max-width: 768px) {
        @include mixins.title(1.625rem); //26px
    }
}

.title {
    @include mixins.title; //40px

    @media(max-width: 768px) {
        @include mixins.title(1.5rem); //24px
    }
}

.title--small {
    @include mixins.title(1.75rem); //28px

    @media(max-width: 768px) {
        @include mixins.title(1.375rem); //22px
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.75rem;
    font-size: 1.125rem;
    color: variables.$text-second-color;
    background-color: variables.$btn-primary-color;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: .5rem .875rem;
    border: 1px solid variables.$btn-primary-color;

    &:hover {
        background-color: lighten(variables.$btn-primary-color, 3%);
    }

    &--second {
        background-color: variables.$btn-second-color;
        border-color: variables.$btn-second-color;

        &:hover {
            background-color: lighten(variables.$btn-second-color, 3%);
        }
    }

    &--dark {
        background-color: variables.$btn-dark-color;
        border-color: variables.$text-second-color;

        &:hover {
            background-color: variables.$text-second-color;
            color: variables.$bg-primary-color;
        }
    }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media(max-width: 768px) {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &__text-container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 1.5rem;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text-container {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(50% - 5.6vw);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media(max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}