@import "variaveis.less";
@import "maps.less";
@breakpointTablet: ~"(min-width: 768px) and (max-width: 1023px)";
@breakpointMobile: ~"(max-width: 767px)";

.marginBottom8 {
    margin-bottom: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #colors[background-color];
    color: #colors[text-color];
}

li {
    list-style: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media @breakpointTablet {
        max-width: 80%;
    }

    @media @breakpointMobile {
        max-width: 70%;
    }
}

header {
    padding-bottom: 24px;

    .profile-avatar {
        display: block;
        margin: 0 auto 24px;
        border-radius: 50%;
    }
}

.profile-bio {
    text-align: center;

    &-main {
        font-size: @normal-font-size;
        .marginBottom8();
    }

    &-subtitle {
        font-size: @small-font-size;
        .marginBottom8();
    }

    &-description {
        font-size: @small-font-size;
        opacity: .7;
    }
}

.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;

    li {
        img {
            transition: all ease .8s;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
}

.projects-list {
    margin-top: 32px;

    &-item {
        a {
            text-decoration: none;
            background-color: #colors[buttons-color];
            display: block;
            padding: 16px 20px;
            margin-bottom: 16px;
            text-align: center;
            color: #colors[text-color];
            font-weight: bold;
            border-radius: 30px;
            border: 2px solid #colors[buttons-color];
            transition: all ease .8s;

            &:hover {
                color: #colors[buttons-color];
                background-color: transparent;
            }
        }
    }
}