* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header .container, footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header, footer {
    background-color: #2f3640;
    color: #f5f6fa;
    padding-block: 16px;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 30%;
}

.articles article img {
    width: 100%;
    height: 250px;
}

section {
    padding-block: 16px;
}

section h2 {
    font-size: 32px;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    font-size: 24px;
    margin-block: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f8f59f;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

#tech {
    background-color: #e1d5f3;
}

#tech .articles article a {
    background-color: #6838b6;
}

#entertainment {
    background-color: #e6eef1;
}

#entertainment .articles article a {
    background-color: #372c9e;
}