@use './config/reset';
@use './config/variaveis';

@mixin elementoForm($margin: 16px) {
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: $margin;
}

body {
    background-color: #eee;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 10px 0;
    background-color: yellow;
    text-align: center;
}

.form-container {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        width: 100%;
        max-width: 480px;
        margin-top: 40px;

        input {
            @include elementoForm();
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #111;
        }

        button {
            @include elementoForm();
        }
    }
}

