// Tipografia
$font-primary: 'Roboto', sans-serif;

$big-font-size: 2rem; //32px
$medium-font-size: 1.5rem; //24px
$normal-font-size: 1rem; //16px
$small-font-size: .5rem; //8px

// Cores
$background-primary-color: #f5f6fa;
$background-second-color: #182C61;
$background-button-color: #44bd32;
$background-hover-color: #4cd137;
$font-primary-color: #FFF;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;