* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, 
textarea, 
button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #2e58cc;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: #2649a8;
}

.message {
    color: #fff;
    padding: 16px;
    display: none;
}

.success {
    background-color: #27ae60;
    display: block;
}

.error {
    background-color: #d20609;
    display: block;
}

.input-error {
    color: #d20609;
    border-color: #d20609;
    outline-color: #d20609;
}