//Tipografia
$font-family-primary: 'Roboto', sans-serif;

// Esquerma de cores
$primary-color: #01A3A4;
$second-color: #00D2D3;
$background-primary-color: #C8D6E5;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;