body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #e15f41;
}

.nav .nav-link.active {
    background-color: #FFF;
    color: #e15f41;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #FFF;
}

.section-title {
    font-family: 'Pacifico', cursive;
}

.navbar-toggler {
    background-color: #FFF;
}

#sobre {
    background-color: #FFEAE6;
}

.text-colored {
    color: #e15f41;
}