body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #e15f41;
}

.nav .nav-link.active {
    background-color: #FFF;
    color: #e15f41;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #FFF;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}