@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir-Bold.woff2);
    font-weight: 700;
}