@use './variables.scss';

@mixin text($font-size: 1rem) {
    font-size: $font-size;
    line-height: $font-size + .625rem;
    color: variables.$text-primary-color;
}

@mixin title($font-size: 2.5rem) {
    @include text($font-size);
    color: variables.$text-second-color;
}