$bg-primary-color: #040714;
$bg-second-color: #13151d;
$text-primary-color: silver;
$text-second-color: #f9f9f9;
$btn-primary-color: #6421ff;
$btn-second-color: #0063e5;
$btn-dark-color: rgba(0, 0, 0, .8);